@import './base.css';

#app {
  /* max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal; */
  width: 100%;
}

a,
.green {
  text-decoration: none;
  color: #1677ff;
  /* color: hsla(160, 100%, 37%, 1); */
  transition: 0.4s;
  padding: 3px;
}

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

@media (min-width: 1024px) {
  body {
    display: flex;
    /* place-items: center; */
  }

  #app {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem; */
  }
}

.container{
  background: #fff;
  padding:12px 24px;
  .header{
      padding-bottom: 12px;
      line-height: 20px;
      .title{
          display: inline-block;
          padding-left: 10px;
          margin-bottom: 6px;
          font-size: 16px;
          font-weight: bold;
          border-left: 4px solid #d32f2f;
      }
      a{
          margin-left: 4px;
          &:hover{
              background-color: #fff;
          }
      }
  }
}
.footer{
  width:100%;
  background-color: #fff;
  position:sticky;
  bottom:0;
  padding:16px 24px;
  box-shadow: 0 -1px 7px 0 #e0e0e0;
  .actionBtn{
      text-align: right;
      .ant-btn{
          & + .ant-btn{
              margin-left:8px;
          }
      }
  }
}

.ant-form-item{
  margin-bottom: 12px;
}
.ant-form-item .ant-form-item-label{
  padding-bottom:4px;
}
.ant-divider{
  border-color: #e8e8e8;margin: 12px 0;
}